body {
  background: var(--color-grey-1);
  line-height: 25px;
}

.page {
  margin: 0 auto 2rem;
  width: 90vw;
  max-width: 1120px;
}

.hero h1 {
  text-align: center;
  font-size: 70px;
  letter-spacing: var(--spacing-large);
  text-transform: uppercase;
  line-height: 68px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.hero a {
  text-decoration: none;
  color: var(--color-black);
}

.hero a:hover {
  color: var(--color-primary);
}

.hero a span {
  text-transform: lowercase;
  font-size: 36px;
  position: relative;
  top: -25px;
  border-bottom: 8px solid var(--color-white);
  line-height: 10px;
  padding-bottom: 0px;
}

.description {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  letter-spacing: var(--spacing-large);
  margin-bottom: 0.5rem;
}

.author {
  text-align: center;
  font-size: 16px;
  letter-spacing: var(--spacing-large);
  margin-bottom: 1.2rem;
}

.author span {
  color: var(--color-primary);
  font-size: 2rem;
}

.about {
  border-top: 1.2rem solid #fff;
  border-bottom: 1.2rem solid #fff;
  border-left: 1.2rem solid transparent;
  border-right: 1.2rem solid transparent;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.about span {
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 1.2rem;
  letter-spacing: var(--spacing-large);
}

.content {
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

.content .article {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out all;
  overflow: hidden;
  text-decoration: none;
  max-width: 90vw;
}

.content .article:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.image {
  height: 15rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  position: relative;
  overflow: hidden;
}

.image img {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}

.info {
  background: #fff;
  text-align: center;
  border-bottom: 8px solid var(--color-primary);
}

.number {
  letter-spacing: var(--spacing);
}

.title {
  font-size: 21px;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  padding: 14px;
  text-align: center;
  color: #0f172a;
}
